<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Users Page</title>
</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr th:each="user : ${userList}">
            <td th:text="${user.getRole()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastname()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getTelephoneNumber()}"></td>
            <td th:text="${user.getRegistrationDate()}"></td>
            <td>
                <form action="sneaker-admin-get-user-orders" method="get">
                    <input type="hidden" name="userId" th:value="${user.getUserId()}" >
                    <button type="submit">view orders</button>
                </form>
            </td>
        </tr>
        </thead>
    </table>

    <form action="sneaker-admin-page" method="get">
        <button type="submit">admin page</button>
    </form>
</div>
</body>
</html>