<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<div class="container">
    <div class="register">
        <form action="sneaker-register-admin" method="post">

            <input type="text" name="name" placeholder="Enter Name" required> <br>
            <input type="text" name="lastname" placeholder="Enter Lastname" required> <br>
            <input type="text" name="email" placeholder="Enter Email" required> <br>
            <input type="text" name="repeatEmail" placeholder="Repeat Email" required> <br>

            <input type="text" name="password" placeholder="Enter Password" required> <br>
            <input type="password" name="repeatPassword" placeholder="Repeat Password" required> <br>

            <input type="number" name="telephoneNumber" placeholder="Enter Cellphone" required> <br>
            <input type="text" name="address" placeholder="Enter Your Address" required> <br>
            <button type="submit">Register</button>
            <br>

            <a> <span th:text="${result}"></span></a>
        </form>
    </div>


    <div class="product-add">

        <form action="sneaker-add-product" method="post" enctype="multipart/form-data">
            <a>Category</a> <br>
            <select name="category" required>
                <option value="Boot">Boot</option>
                <option value="Sneaker">Sneaker</option>
                <option value="Designer">Designer</option>
                <option value="Sport">Sport</option>
            </select> <br>
            <a>Brand</a> <br>
            <select name="brand" required>
                <option value="Nike">Nike</option>
                <option value="Adidas">Adidas</option>
                <option value="Yeezy">Yeezy</option>
                <option value="Puma">Puma</option>
                <option value="New-Balance">New-Balance</option>
                <option value="Asics">Asics</option>
                <option value="BOSS">BOSS</option>
                <option value="Loubutin">Loubutin</option>
            </select> <br>
            <input type="text" name="name" placeholder="Enter Name" required> <br>
            <input type="number" name="productCost" placeholder="Enter Cost" required> <br>
            <input type="number" name="stock" placeholder="Enter Stock Amount" required> <br>
            <input type="number" name="shoeSize" placeholder="Enter size" required> <br>
            <input type="file" name="image" required> <br>
            <button type="submit">Add product</button>
        </form>
    </div>

</div>
</body>
</html>