<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pending Order page</title>
</head>
<body>
<table>
    <thead>
    <tr th:each="o :${orderList}">
        <td th:text="${o.getOrderId()}"></td>
        <td th:text="${o.getUserId()}"></td>
        <td th:text="${o.getTotalCost()}"></td>
        <td th:text="${o.getOrderDate()}"></td>
        <td>
            <form action="sneaker-admin-update-order-status" method="post">
                <input type="hidden" name="orderId" th:value="${o.getOrderId()}">
                <button type="submit">sent</button>
            </form>
        </td>
    </tr>
    </thead>
</table>

<form action="sneaker-admin-page" method="get">
    <button type="submit">admin-page</button>
</form>
</body>
</html>