<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search-Page</title>
    <style>
        .img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="search">
        <form action="sneaker-get-search-sneaker" method="get">
            <input type="text" name="search" placeholder="Find shoes">
            <button type="submit">Search</button>
        </form>
    </div>

    <table class="shoes">

        <tbody>
        <tr th:each="s, image : ${shoes}">
            <td th:text="${s.getBrand()}"></td>
            <td th:text="${s.getName()}"></td>
            <td th:text="${s.getProductCost()}"></td>
            <td th:if="${images != null and !images.isEmpty()}">
                <img th:src="'data:image/png;base64,' + ${images[image.index]}" class="img"/>
            </td>
            <td>
                <form action="sneaker-add-basket" method="post">
                    <input type="hidden" name="id" th:value="${s.getProductId()}">
                    <button type="submit">Add</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="basket-page">
        <form action="sneaker-get-basket" method="get">
            <button type="submit">Basket</button>
        </form>
    </div>


    <form action="sneaker-homepage" method="get">
        <button type="submit">Homepage</button>
    </form>
</div>

</body>
</html>