<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
<div>
    <form action="sneaker-register-user" method="post">

        <input type="text" name="name" placeholder="Enter Name" required> <br>
        <input type="text" name="lastname" placeholder="Enter Lastname" required> <br>
        <input type="text" name="email" placeholder="Enter Email" required> <br>
        <input type="text" name="repeatEmail" placeholder="Repeat Email" required> <br>

        <input type="text" name="password" placeholder="Enter Password" required> <br>
        <input type="password" name="repeatPassword" placeholder="Repeat Password" required> <br>

        <input type="number" name="telephoneNumber" placeholder="Enter Cellphone" required> <br>
        <input type="text" name="address" placeholder="Enter Your Address" required> <br>
        <button type="submit">Register</button> <br>

        <a> <span th:text="${result}"></span></a>
    </form>
</div>
</body>
</html>