<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm-Basket-Page</title>
    <style>
        .img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
<div>
    <a>Total: <span th:text="${totalCost}"></span></a>
    <table>
        <tbody>
        <tr th:each="p, image : ${basket}">
            <td th:text="${p.getName()}"></td>
            <td th:text="${p.getStock()}"></td>
            <td th:text="${p.getProductCost()}"></td>
            <td th:if="${images != null and !images.isEmpty()}">
                <img th:src="'data:image/png;base64,' + ${images[image.index]}" class="img"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<form action="sneaker-make-order" method="post">
    <input type="text" name="email" placeholder="Enter Email" required> <br>
    <input type="password" name="password" placeholder="Enter Password" required> <br>
    <button type="submit">order</button>
    <a><span th:text="${orderresult}"></span></a>
</form>


<form action="sneaker-get-basket-total" method="get">
    <a>Not happy with order? return here</a>
    <button type="submit">return</button>
</form>


</body>
</html>